body
{
    /* background-color: #f1f7ff; */
    background-color: black;
}

#content
{
    background-color: rgb(82, 7, 2);
}


#content form
{
    margin-top: calc(50vh - 241px);
}

#content form button
{
    width: 100%;
}