{% extends "base.html" %}
{% load static %}
{% block title %}Vendedores{% endblock %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/profile.css' %}">{% endblock %}
{% block content %}

    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-3" style="background-image: url('/media/{{profile.image}}');"></div>
                
                {% if profile.role == 1 %}
                    <p class="badge badge-primary text-center" id="badge-role"><i class="fa fa-building"></i> Administrador</p>
                {% elif profile.role == 2 %}
                    <p class="badge badge-primary text-center" id="badge-role"><i class="fa fa-user-md"></i> Vendedor</p>
                {% else %}
                    <p class="badge badge-primary text-center" id="badge-role"><i class="fa fa-user"></i> Cliente</p>
                {% endif %}

                {% comment %} {% if profile.user.id == request.user.id %} {% endcomment %}
                <a id="icon-edit" href="#"><i class="fa fa-edit"></i></a>
                {% comment %} {% endif %} {% endcomment %}
                
                <ul class="list-group">
                    <li class="list-group-item">Nome: {{profile.user.get_full_name | default:"Sem nome"}}</li>
                    <li class="list-group-item">Usuário: {{profile.user.username | default:"Sem usuário"}}</li>
                    <li class="list-group-item">E-mail: {{profile.user.email | default:"Sem e-mail"}}</li>
                    <li class="list-group-item">Nascimento: {{profile.birthday | date:'d/m/Y' | default:"Sem data"}}</li>
                    {% if profile.role == 2 %}
                        <li class="list-group-item">Nota: {{ profile.show_scoring_average }}</li>
                        <li class="list-group-item">Categorias: {{ profile.category.all | join:", " }}</li>
                    {% endif %}
                </ul>

            </div>

            {% if profile.role == 1 or profile.role == 3 or profile.role == 3 %}
                <div class="col-xs-12 col-md-9" id="favorites-area"></div>
            {% else %}
                <div class="col-xs-12 col-md-3" id="addresses-area"></div>
                <div class="col-xs-12 col-md-6" id="ratings-area"></div>
            {% endif %}

        </div>
    </div>           
</div>
{% endblock %}